body{
  margin:0;
  font-family: 'Segoe UI', sans-serif;
  background:#f4f6fb;
}

h1,h2,h3,h4{
  font-weight:600;
}

.card{
  border-radius:12px;
  border:none;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-4px);
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.btn-primary{
  background:#2563eb;
  border:none;
}

.btn-primary:hover{
  background:#1d4ed8;
}